
body,h1,h2,h3,h5,h4,h6,a,p,div,span,button,ul,li, input, .cairo{
    font-family: cairo !important;
}
.dropdown-menu {
    min-width: 6rem !important;
}
.navbar-brand .logo{
    height: 65px;
}

.single-product-box img,.single-lookbook-box img{
    height: 280px;
    width: 100%;
}
